.text-field {
	-fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-font-family: "Calibry light";
    -fx-font-size: 40;
    -fx-alignment: center;
}

.blocked {
	-fx-font-family: "serif";
	-fx-font-weight: bold;
}
.blocked-black {
	-fx-background-color: black;
	-fx-text-fill: white;
}

.blocked-white {
	-fx-text-fill: black;
}

.notes {
	-fx-font-size: 15;
}

.label-rules {
	-fx-background-color: white;
	-fx-border-width: 2;
	-fx-border-color: gray;
	
}

.correct {
	-fx-text-fill: green;
}

.false {
	-fx-text-fill: red;
}

